body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
hr,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  margin: 4px 0;
}

::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(220, 220, 225);
}